@model IEnumerable<HRMS_project.Models.offcheckpoint>

@{
    ViewData["Title"] = "OffBoardingcheckpoint";
}
<html>
    <head>
        <title>
OffBoardingcheckpointUnits
        </title>
         <script src="~/Scripts/table.js" asp-append-version="true"></script>
          <link href="~/css/bunit.css" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

  <div class="card">
               <div class="card-header bg-danger text-uppercase text-white">
                    <h4 class="text-center"> OffBoardingcheckpointUnits </h4>
                    <form asp-controller="OffBoarding" asp-action="OffBoardingcheckpointUnits" method="get">
                     <input type="text" placeholder="Search.." name="search">
                     <input type="submit" value="Search" class="btn btn-primary">
                    </form>
              <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Admin Dashboard</a>
              </div>
      <div>
<label class="control-label">Total Record</label>
<input class="form-control" id="totalrow" />
</div><br />     

     <div class="card-body">
         <div id="secondtable">

<table class="table">
    <thead>
        <tr>    
            <th>
                
               <input type="checkbox" id="checkbox"/>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.offcheckpointName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Businessunit)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssigneeName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th><a asp-action="OffBoardingcheckpoint" asp-controller="OffBoarding" class="btn btn-primary">Add</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                
            <input id="@item.offcheckpointId" type="checkbox" name="id[]" value="@item.offcheckpointId"/>

            </td>
            <td id="checkname">
                @Html.DisplayFor(modelItem => item.offcheckpointName)
            </td>
            <td id="checkunit">
                @Html.DisplayFor(modelItem => item.Businessunit)
            </td>
              <td id="checkdept">
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td id="checkasign">
                @Html.DisplayFor(modelItem => item.AssigneeName)
            </td>
             <td id="checkdisc">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="ONEdit" asp-route-id="@item.offcheckpointId">
                      <i class="fa fa-pencil-square-o"></i>
                </a> 
               
                <a class="btn btn-danger" asp-action="ONDelete" asp-route-id="@item.offcheckpointId">
                      <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
  }
 </tbody>
</table>

</div>
</div>
</div>
 </body>
</html>